
h1{
    background-color: darkolivegreen;
    color: white;
    text-align: center;

}

.imgProductos{
    width: 150px;
    height: 200px;
    object-fit: contain;
    margin-top: 0.5rem;
}

.imgProductos2{
    width: 100px;
    height: 150px;
    object-fit: contain;
    margin-top: 1rem;
}

.card{
    display: flex;
    align-items: center;
    width: 200px;
    height: 400px;
    margin-bottom: 30px;
    padding-left: 10px;
    border: 1px solid darkolivegreen;
}





.colorBoton{
    color: white;
    background-color: darkolivegreen;
    
}

.colorBoton1{
    color: white;
    background-color: darkolivegreen;
}

.colorBoton:hover{
    background-color: darkolivegreen ;
    color:white;
}

.ubicacion{
    margin-top: 10px;
    margin-bottom: 40px;
}

.tamanioLetraSw{
    font-size: 30px;
    color: red;
    
}


.separacion{
    margin-bottom: 400px
}

.recuadro{
    border: 2px solid darkolivegreen;
    width: 500px;

}

#total{
    font-size: 40px;
}

.centrar{
    text-align: center;
}

.ponerDerecha{
    text-align: right;
}

.card-body{
    height: 100px;
}

.tamanio{
    width: 70px;
    height: 40px;
}

.row{
    display: flex;
}




